/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f8ff;
  color: #444;
  line-height: 1.6;
  padding-top: 0px;
}

/* NAVBAR */
/* Foto lateral */
.foto-fixa-direita {
  position: fixed;
  top: 50px;
  right: 0;
  width: 220px;
  height: 30vh;
  background-color: #e0f0f8;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 10px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.foto-fixa-direita img {
  max-width: 100%;
  border-radius: 10px;
}

/* Secções */
main {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

.secao {
  margin-bottom: 50px;
}

h1, h2 {
  color: #1c6e8c;
  margin-bottom: 15px;
}

/* Formação com Flexbox */
.formacao-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.formacao-linha {
  display: flex;
  justify-content: space-between;
  background-color: #e8f4fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  flex-wrap: wrap;
}

.formacao-curso {
  font-weight: bold;
  text-align: center;
  flex: 1 1 50%;
}

.formacao-local {
  text-align: center;
  flex: 1 1 50%;
  color: #666;
}

ul {
  list-style-type: circle;
  padding-left: 20px;
}

a {
  color: #1c6e8c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Tabela */
.tabela-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

/* Formulário*/
.formulario {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 12px;
  max-width: 700px;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.formulario .form-group {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #1c6e8c;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.formulario input:focus,
.formulario textarea:focus {
  border-color: #1c6e8c;
  box-shadow: 0 0 5px rgba(28, 110, 140, 0.3);
  outline: none;
}

.formulario button {
  background-color: #1c6e8c;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.formulario button:hover {
  background-color: #14516a;
}


/* Responsivo */
@media (max-width: 768px) {
  .foto-fixa-direita {
    display: none;
  }
}

@media (max-width: 768px) {

.formacao-linha {
  flex-direction: column;
  text-align: left;
}

.formacao-local {
  text-align: left;
  margin-top: 5px;
}
}

@media (max-width: 600px) {
  .formulario {
    padding: 20px;
  }

  .formulario input,
  .formulario textarea,
  .formulario button {
    font-size: 1rem;
  }
}